@* @model EF_MVC_Project.Models.Datphong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Datphong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNguoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNguoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaKhNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaKhNavigation.MaKh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPNavigation.MaP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
