@model List<object>

@{
    ViewData["Title"] = "Index";
    var listP = Model.ElementAt(0) as List<Phong>;
}

<body>
    <div class="container-fluid">
        <div class="functionMenuButton mt-2">
            <div class="row">
                <div class="titleCreate col d-flex">
                    <p class="fs-4 fw-bolder">Đặt Phòng</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav>
                    <form asp-action="Index" method="post" id="form-btn-dp">
                        <input type="text" name="id" id="form-btn-id" hidden>
                        <input type="text" name="id" id="check_nav" value="@ViewBag.checkNav"
                            hidden>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link nav-btn-p" id="nav-home-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="submit" role="tab"
                                aria-controls="nav-home" aria-selected="true" data-id="2">Tất Cả
                                Phòng</button>
                            <button class="nav-link nav-btn-p"
                                id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="submit" role="tab"
                                aria-controls="nav-profile" aria-selected="false" data-id="1">Phòng
                                Trống</button>
                            <button class="nav-link nav-btn-p"
                                id="nav-contact-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-contact" type="submit" role="tab"
                                aria-controls="nav-contact" aria-selected="false" data-id="0">Phòng
                                Đã Đặt</button>
                        </div>

                    </form>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <table class="table table-bordered mt-2">
                            <thead class="text-center align-middle">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Hình Ảnh</th>
                                    <th scope="col">Số Phòng</th>
                                    <th scope="col">Loại Phòng</th>
                                    <th scope="col">Loại Giường</th>
                                    <th scope="col">Mô Tả</th>
                                    <th scope="col">Trạng Thái</th>
                                    <th scope="col">Công Cụ</th>
                                </tr>
                            </thead>
                            <tbody class="text-center align-middle">
                                @{
                                    int soTT = 1;
                                    foreach (var item in listP)
                                    {
                                        <tr>
                                            <th scope="row">@(soTT++)</th>
                                            <td class="container-img-dp">
                                                <img src="/images/User.jpg" alt="" class="img-dp">
                                            </td>
                                            <td>@item.SoPhong</td>
                                            <td>@item.MaLpNavigation.TenLp</td>
                                            @if (item.LoaiGiuong == true)
                                            {
                                                <td>Giường Đơn</td>
                                            }
                                            else
                                            {
                                                <td>Giường Đôi</td>
                                            }
                                            <td>@item.MoTa</td>
                                            @if
                                    (item.TrangThaiPhong == 1)
                                            {
                                                <td>
                                                    <div class="badge bg-success text-wrap p-2"
                                                        style="width: 6rem;">
                                                        Đang Rảnh
                                                    </div>
                                                </td>
                                            }
                                            else if (item.TrangThaiPhong == 2)
                                            {
                                                <td>
                                                    <div class="badge bg-warning text-wrap p-2"
                                                        style="width: 6rem;">
                                                        Đang Bận
                                                    </div>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <div class="badge bg-danger text-wrap p-2"
                                                        style="width: 6rem;">
                                                        Đã Đặt
                                                    </div>
                                                </td>
                                            }
                                            <td>
                                                @if (item.TrangThaiPhong == 1)
                                                {
                                                    @Html.ActionLink("Đặt Phòng", "Create", "DatPhong", null,new
                                        {@class = "btn btn-primary"})
                                                }
                                                else if (item.TrangThaiPhong == 0)
                                                {
                                                    <button type="button" class="btn btn-secondary">Thanh Toán</button>
                                                }
                                                else
                                                {

                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>




